- var name = "Максим Палий";

.block.wellcome
    .button.autoriz Авторизоваться
    .info-block
        .in-blocks
            img(src = ("/assets/img/me.png"))
            p.name #{name}
            span Личный сайт веб разработчика
            .social-button
                a(class='icon vk' href='#')
                a(class='icon github' href='#')
                a(class='icon in' href='#')
            ul.menu-my
                li Мои работы
                li Обо мне
                li Блог
    p.copyright.page-wellcome © Палий Максим | создано с любовью в LoftSchool | 2017